<form class="form" [formGroup]="stationForm" (ngSubmit)="createStation()">
  <mat-form-field appearance="outline" subscriptSizing="dynamic" floatLabel="always">
    <mat-label> City </mat-label>

    <input matInput type="text" formControlName="city" name="city" />
  </mat-form-field>

  <mat-form-field appearance="outline" subscriptSizing="dynamic" floatLabel="always">
    <mat-label> Latitude </mat-label>

    <input matInput type="number" formControlName="latitude" name="latitude" />
  </mat-form-field>

  <mat-form-field appearance="outline" subscriptSizing="dynamic" floatLabel="always">
    <mat-label> Longitude </mat-label>
    <input matInput type="number" formControlName="longitude" name="longitude" />
  </mat-form-field>

  <ng-container formArrayName="connected">
    @for (control of connected.controls; track createId()) {
      <mat-form-field appearance="outline" subscriptSizing="dynamic" floatLabel="always">
        @if ($index === 0) {
          <mat-label>Connected</mat-label>
        }

        <mat-select [formControlName]="$index">
          @for (station of stations(); track station.id) {
            <mat-option [value]="station.id">{{ station.city }}</mat-option>
          }
        </mat-select>

        @if ($index !== 0) {
          <button mat-icon-button matSuffix type="button" (click)="removeField($index)">
            <mat-icon>close</mat-icon>
          </button>
        }
      </mat-form-field>
    }

    <button class="form-control" mat-raised-button type="button" (click)="addField()">
      add another city
    </button>

    <button class="form-control" mat-raised-button type="submit">save</button>
  </ng-container>
</form>
