<mat-list class="list">
  @for (carriage of carriages(); track carriage.code) {
    <mat-card class="card" [id]="'car' + (carriage.name | removeWhitespace)">
      @if (selectedCarriageCode() === carriage.code) {
        <h6 class="text-center">Update {{ carriage.name }}</h6>
        <app-carriage-form
          [carriage]="carriage"
          (updateCarriage)="updateCarriage($event)"
          (closeForm)="closeForm()"
        ></app-carriage-form>
      } @else {
        <button
          mat-raised-button
          class="update-button"
          (click)="toggleForm(carriage.code)"
        >
          <mat-icon id="update" aria-hidden="false" aria-label="Update route"
            >edit_square</mat-icon
          >
          <label for="edit">Update</label>
        </button>
        <app-train-car
          [carriage]="carriage"
        ></app-train-car>
      }
    </mat-card>
  }
</mat-list>
