<!-- {{ ride() | json }} -->

<div class="head">
  @let trip = tripInfo();
  <div class="head-stations">
    <p>{{ trip.from?.city }} - {{ trip.to?.city }}</p>
    <p>
      {{ trip.dateFrom | date: "MMMM d, HH:mm" }} -
      {{ trip.dateTo | date: "MMMM d, HH:mm" }}
    </p>
  </div>
  <span>Ride {{ ride()?.rideId }}</span>
</div>
<div class="body">
  <div class="carriages">
    <mat-tab-group
      animationDuration="0ms"
      mat-stretch-tabs="false"
      mat-align-tabs="start"
    >
      @for (carItem of carTypes(); track carItem.type) {
        <mat-tab>
          <ng-template mat-tab-label>
            <mat-list-item>
              <p matListItemTitle>
                Carriage type {{ carItem.type }}:
                {{ getAvailableSeatsNumber(carItem.carriages) }}
              </p>
              <p matListItemLine>
                {{ getPrice(carItem.type) | currency }}
              </p>
            </mat-list-item>
          </ng-template>
          <app-carriage-list
            [carriages]="carItem.carriages"
          ></app-carriage-list>
        </mat-tab>
      }
    </mat-tab-group>
  </div>

  <div class="book-modal">
    <app-book-modal [bookItems]="bookItems()"></app-book-modal>
  </div>

  <div class="legend">
    @for (legendSeat of legendSeats; track $index) {
      <div class="legend-item">
        <app-car-seat
          [seat]="legendSeat.seat"
          [direction]="'right'"
        ></app-car-seat>
        {{ legendSeat.description }}
      </div>
    }
  </div>
</div>
