{{ ride() | json }}

<div class="head">
  <p>
    @let trip = tripInfo();
    {{ trip.from?.city }} -> {{ trip.to?.city }}
    {{ trip.date | date: "MMMM d, HH:mm" }}
  </p>
  <p>Ride {{ ride()?.rideId }}</p>
</div>

<div class="carriages">
  <mat-tab-group animationDuration="0ms">
    @for (carItem of carTypes(); track carItem.type) {
      <mat-tab label="{{ carItem.type }}">
        <app-carriage-list [carriages]="carItem.carriages"></app-carriage-list>
      </mat-tab>
    }
  </mat-tab-group>
</div>

<div class="legend">
  <p>Legend</p>
  @for (legendSeat of legendSeats; track $index) {
    <app-car-seat [seat]="legendSeat.seat" [direction]="'right'"></app-car-seat>
    {{ legendSeat.description }}
  }
</div>
