:host {
  .order-table {
    display: flex;
    justify-content: center;
    margin: 1rem auto;
    width: 90%;
  }

  .spinner-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;

    .spinner {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    .label {
      position: absolute;
      font-size: 1.5rem;
      top: calc(50% - 6rem);
      left: 50%;
      transform: translateX(-50%);
    }
  }
}
