<table matSort (matSortChange)="sortOrders($event)">
  <!-- 
  Start city
  Start time (ascending, default)
  End city
  End time (MMMM dd hh:mm)
  Trip duration (HHh MMm)
  Car type
  Car number
  Seat number
  Price (currency pipe)
  -->
  <tr>
    <th mat-sort-header="id">Order id</th>
    <th mat-sort-header="userId">User id</th>
    <th mat-sort-header="status">Status</th>
  </tr>

  @for (order of sortedOrders; track order.id) {
    <tr>
      <td>{{ order.id }}</td>
      <td>{{ order.userId }}</td>
      <td>{{ order.status }}</td>
    </tr>
  }
</table>
