:host {
  display: flex;
  flex-direction: column;
  width: 20rem;
  margin-inline: auto;
  margin-block-start: 2rem;
}

.form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.5rem;

  &-field {
    grid-column: 1/3;
  }

  &-control {
    border-radius: 0.5rem;
  }
}
