@for (station of stations(); track station.id) {
  <mat-card class="card" [id]="station.city">
    <mat-card-header>
      <mat-card-title class="card-title">
        {{ station.city }}
      </mat-card-title>
      <mat-card-subtitle>
        {{ station.latitude }}, {{ station.longitude }}
      </mat-card-subtitle>

      <button
        class="card-btn"
        type="button"
        mat-icon-button
        (click)="deleteStation(station.id)"
      >
        <mat-icon>delete</mat-icon>
      </button>
    </mat-card-header>
    <mat-card-content class="card-content">
      <p>Connected to:</p>
      <p>
        @for (city of getConnectedCities(station); track $index) {
          <button
            class="list-item"
            mat-stroked-button
            (click)="navigateToStation(city)"
          >
            {{ city }}
          </button>
        }
      </p>
    </mat-card-content>
  </mat-card>
}
