@import "@shared/styles/variables.scss";

:host {
  display: flex;

  .container {
    padding-top: 0.2rem;
    margin: 0 auto;
  }
  
  .separator {
    width: 1.5rem;
    height: 1.5rem;

    &.inline {
      display: inline-block;
    }
  }

  .car-name {
    font-weight: 500;
    font-size: 1.2rem;
    margin-right: 10px;
  }

  .available-number {
    padding: 5px 15px;
    border-radius: 15px;
    border-width: 1px;
    border-style: solid;
    border-color: $lightGrey;
  }

  .schema {
    position: relative;
    display: inline-block;
    margin-top: 20px;
    border-radius: 15px;
    border-width: 1px;
    border-style: solid;
    border-color: $lightGrey;
    padding: 15px 100px;

    @media (max-width: 768px) {
      padding: 15px 30px;
    }
  }

  .schema:before,
  .schema:after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    width: 1px;
    background-color: $lightGrey;
  }

  .schema:before {
    left: 50px;
    top: 20px;
    bottom: 20px;

    @media (max-width: 768px) {
      left: 15px;
    }
  }

  .schema:after {
    right: 50px;
    top: 20px;
    bottom: 20px;

    @media (max-width: 768px) {
      right: 15px;
    }
  }
}
