<p>train-car works!</p>
@let car = carriage();
<div>
    <h5>Carriage {{ car.name }} #{{ car.code }}</h5>
    <p> Available seats: {{ store.getAvailableSeatsNumber(car.code) }}</p>
    <div>
        @for (seat of car.seats; track seat.number; let i = $index) {
            <app-car-seat
            [seat]="seat"
            (select)="toggleSeatState($event)"
            ></app-car-seat>
            @if ((i + 1) % car.rows === 0) {
                <br />
            }
            @if((i + 1)  === car.rows * car.rightSeats) {
                <br /> <br />
            }
        }
    </div>
</div>
