@for (card of cards(); track $index) {
  <mat-card>
    <mat-card-content class="card-content">
      <div class="card-time">
        <div class="card-time__span">
          <mat-card-title>
            {{ card.fromCityTime | date: "hh:mm" }}
          </mat-card-title>
          <span class="card-time__span-body">
            <mat-icon fontSet="material-icons-outlined">
              fiber_manual_record
            </mat-icon>
            <mat-divider class="card-time__span-divider" />
            <span>
              {{ card.timeSpan }}
            </span>
            <mat-divider class="card-time__span-divider" />
            <mat-icon> fiber_manual_record </mat-icon>
          </span>

          <mat-card-title>
            {{ card.toCityTime | date: "hh:mm" }}
          </mat-card-title>
        </div>
        <div class="card-time__date">
          <mat-card-subtitle>
            {{ card.fromCityTime | date: "MMMM dd" }}
          </mat-card-subtitle>
          <mat-card-subtitle>
            {{ card.toCityTime | date: "MMMM dd" }}
          </mat-card-subtitle>
        </div>
        <div class="card-time__city">
          <mat-card-subtitle>
            {{ card.fromCityName }}
          </mat-card-subtitle>
          <mat-card-subtitle>
            {{ card.toCityName }}
          </mat-card-subtitle>
        </div>
      </div>

      <ul class="card-price__list">
        @for (price of card.price; track price[0]) {
          <li class="card-price__item">
            <mat-divider vertical />
            <div class="card-price__carriage">
              <mat-card-subtitle>
                Carriage type
                @if (price[0].endsWith("1")) {
                  1st
                }
                @if (price[0].endsWith("2")) {
                  2nd
                }
                @if (price[0].endsWith("3")) {
                  3rd
                }
                class
              </mat-card-subtitle>

              <mat-card-title>
                {{
                  price[1] | currency: "USD" : "symbol" : "1.0-0"
                }}</mat-card-title
              >
            </div>
          </li>
        }
      </ul>
    </mat-card-content>
  </mat-card>
} @empty {
  <div>empty</div>
}
