@import '@shared/styles/variables.scss';

.header {
  &-row {
    display: flex;
    gap: 2rem;
    background-color: $primaryBackgroundColor;
  }

  &-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
  }
}
