@if (isLoading()) {
  <div class="content-loading">
    <app-spinner [loadText]="'Saving...'"></app-spinner>
  </div>
} @else {
  <form [formGroup]="routeForm" (ngSubmit)="onSubmit()" class="form">
    <div class="form-grid">
      <div class="col" formArrayName="stations">
        @let connectedStations = connectedStationsMap();
        @for (
          station of stations.controls;
          track station.value;
          let i = $index
        ) {
          <div class="form-field-container">
            <mat-form-field class="form-field" (click)="onStationClick(i)">
              <mat-label>Station</mat-label>
              @let prevStationId =
                i > 0 ? stations.controls[i - 1].value : null;
              <mat-select
                [formControlName]="i"
                (selectionChange)="onSetStation(i)"
              >
                @for (
                  connectedStation of connectedStations(prevStationId);
                  track connectedStation.id
                ) {
                  <mat-option [value]="connectedStation.id">{{
                    connectedStation.city
                  }}</mat-option>
                }
              </mat-select>
            </mat-form-field>
            @let isFirstStation = i === 0 && stations.controls.length > 1;
            @let isLastStation = i === stations.controls.length - 2;
            @if (isFirstStation || isLastStation) {
              <button
                mat-icon-button
                type="button"
                class="delete-button"
                (click)="onDeleteStation($event, i)"
              >
                <mat-icon>delete</mat-icon>
              </button>
            }
          </div>
        }
        @if (stations.invalid && stations.touched) {
          <mat-error>{{ getStationsErrorMessage() }}</mat-error>
        }
      </div>
      <div class="col" formArrayName="carriages">
        @for (carField of carriages.controls; track carField; let i = $index) {
          <div class="form-field-container">
            <mat-form-field class="form-field">
              <mat-label>Carriage</mat-label>
              <mat-select
                [formControlName]="i"
                (selectionChange)="onSetCarriage(i)"
              >
                @for (carriage of carriageOptions(); track $index) {
                  <mat-option [value]="carriage.code">{{
                    carriage.name
                  }}</mat-option>
                }
              </mat-select>
            </mat-form-field>
            @if (!$last) {
              <button
                mat-icon-button
                type="button"
                class="delete-button"
                (click)="onDeleteCarriage($event, i)"
              >
                <mat-icon>delete</mat-icon>
              </button>
            }
          </div>
        }
        @if (carriages.invalid && carriages.touched) {
          <mat-error>{{ getCarriagesErrorMessage() }}</mat-error>
        }
      </div>
    </div>
    <div class="buttons">
      <button
        mat-flat-button
        (click)="onClose()"
        class="cancel-button"
        type="button"
      >
        Cancel
      </button>
      <button
        mat-flat-button
        (click)="onReset()"
        class="reset-button"
        type="button"
      >
        Reset
      </button>
      <button mat-flat-button type="submit" [disabled]="isSaveDisabled()">
        Submit
      </button>
    </div>
  </form>
}
