@import "@shared/styles/variables.scss";

:host {
  .cancel-button {
    background-color: $cancelButtonColor;
  }

  .reset-button {
    background-color: $lightGrey;
  }

  .form-grid {
    display: flex;

    .col {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      margin: 1rem;
      width: calc(50% - 2rem);
    }
  }

  .form-field-container {
    position: relative;
    padding-right: 2rem;

    .form-field {
      width: 100%;
    }

    .delete-button {
      position: absolute;
      right: -1rem;
      top: 0.5rem;

      .mat-icon {
        margin: 0;
      }
    }
  }

  .buttons {
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    max-width: 500px;

    button {
      min-width: 25%;
    }
  }

  .spinner-container {
    width: 400px;
    height: 200px;
    position: relative;

    .spinner {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    .label {
      position: absolute;
      font-size: 1.2rem;
      top: calc(50% - 6rem);
      left: 50%;
      transform: translateX(-50%);
    }
  }
}
