<mat-toolbar>
  <mat-toolbar-row class="toolbar">
    <span class="route-name">Route {{ route().id }}</span>
    <span class="toolbar-spacer"></span>

    <button mat-raised-button class="toolbar-button">
      <mat-icon id="update" aria-hidden="false" aria-label="Update route">edit_square</mat-icon>
      <label for="edit">Update</label>
    </button>
    <button mat-raised-button class="toolbar-button" (click)="onAssignRideClick()">
      <mat-icon id="ride" aria-hidden="false" aria-label="Assign ride">train</mat-icon>
      <label for="ride">Assign ride</label>
    </button>
    <button mat-raised-button class="toolbar-button">
      <mat-icon aria-hidden="false" aria-label="Delete route">delete</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>
<div class="cities">
  <span>Cities:</span>
  <p class="cities-list">
    @for (city of cities(); track $index) {
      {{ city }}{{ $index < cities().length - 1 ? '\t—\t' : '' }}
    }
  </p>
</div>
<div class="carriages">
  <span>Carriage Types:</span>
  <p class="carriages-list">
    @for (carriageType of route().carriages; track $index) {
      {{ carriageType }}{{ $index < route().carriages.length - 1 ? '\t—\t' : '' }}
    }
  </p>
</div>
