<div class="wrapper">
  @if (isLoading()) {
    <div class="content-loading">
      <app-spinner [loadText]="'Deleting...'"></app-spinner>
    </div>
  } @else {
    <mat-toolbar>
      <mat-toolbar-row class="toolbar">
        <span class="route-name">Route {{ route().id }}</span>
        <span class="toolbar-spacer"></span>
        @if (!displayUpdateForm()) {
          @for (button of toolbarButtons; track $index) {
            <button
              mat-raised-button
              class="toolbar-button"
              (click)="button.click()"
            >
              <mat-icon [id]="button.icon" aria-hidden="false">{{
                button.icon
              }}</mat-icon>
              <label [for]="button.icon">{{ button.label }}</label>
            </button>
          }
        }
      </mat-toolbar-row>
    </mat-toolbar>
    @if (!displayUpdateForm()) {
      <div class="cities">
        <span>Cities:</span>
        <p class="cities-list">
          @for (city of cities(); track $index) {
            <button
              class="list-item"
              mat-stroked-button
              (click)="navigateToStation(city)"
            >
              {{ city }}
            </button>
          }
        </p>
      </div>
      <div class="carriages">
        <span>Carriage Types:</span>
        <p class="carriages-list">
          @for (carType of carriageTypes(); track $index) {
            <button
              class="list-item"
              mat-stroked-button
              (click)="navigateToCarriage(carType)"
            >
              {{ carType }}
            </button>
          }
        </p>
      </div>
    } @else {
      <app-route-form
        [route]="route()"
        (closeForm)="toggleUpdateForm()"
      ></app-route-form>
    }
  }
</div>
