<form [formGroup]="routeForm" (ngSubmit)="onSubmit()" class="form">
  <div class="form-grid">
    <div class="col" formArrayName="stations">
      @let connectedStations = connectedStationsMap();
      @for (station of stations.controls; track station; let i = $index) {
        station.value is {{ station.value }}
        <mat-form-field class="form-field">
          <mat-label>City</mat-label>
          @let prevStationId = i > 0 ? stations.controls[i - 1].value : null;
          <mat-select [formControlName]="i" (selectionChange)="onSetStation(i)">
            @for (connectedStation of connectedStations(prevStationId); track connectedStation.id) {
              <mat-option [value]="connectedStation.id">{{ connectedStation.city }}</mat-option>
            }
          </mat-select>

          @let isLastSelected = i === stations.controls.length - 2;
          @if (isLastSelected) {
            <button
              mat-fab
              type="button"
              class="delete-button"
              (click)="onDeleteStation($event, i)">
              <mat-icon>delete</mat-icon>
            </button>
          }
        </mat-form-field>
      }
    </div>
    <div class="col" formArrayName="carriages">
      @for (carField of carriages.controls; track carField; let i = $index) {
        <mat-form-field>
          <mat-label>Carriage</mat-label>
          <mat-select [formControlName]="i" (selectionChange)="onSetCarriage(i)">
            @for (car of carriageTypes(); track car.code) {
              <mat-option [value]="car.code">{{ car.name }}</mat-option>
            }
          </mat-select>
          @if (!$last) {
            <button
              mat-fab
              type="button"
              class="delete-button"
              (click)="onDeleteCarriage($event, i)">
              <mat-icon>delete</mat-icon>
            </button>
          }
        </mat-form-field>
      }
    </div>
  </div>
  <button mat-flat-button (click)="onClose()" class="cancel-button" type="button">Cancel</button>
  <button mat-flat-button (click)="onReset()" class="reset-button" type="button">Reset</button>
  <button mat-flat-button type="submit" [disabled]="routeForm.invalid">Submit</button>
</form>
