@import '@shared/styles/variables.scss';

:host {
  width: 100%;

  .cancel-button {
    background-color: $cancelButtonColor;
  }
  
  .reset-button {
    background-color: $lightGrey;
  }

  .form-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .col {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      margin: 1rem;
      width: calc(50% - 2rem);
    }
  }
  
  .delete-button {
    position: absolute;
    right: -1.5rem;
    top: 0;
  }

  .buttons {
    display: flex;
    justify-content: space-around;
  }
}
