<div class="card">
  <h5 class="title">Ride {{ rideId() }}</h5>
  <div class="content">
    <div class="stations">
      @for (station of stations(); track $index) {
        <div class="station">{{ station }}</div>
      }
    </div>
    <div class="dates-and-prices">
      @for (segment of segments(); track $index; let segmentIndex = $index) {
        @let edit = editMode()[$index]();

        <div class="row">
          <div class="dates">
            <div class="date-and-icon">
              Departure:

              @if (!edit.departure) {
                {{ segment.time[0] | date: 'yyyy-MM-dd hh-mm a' }}
              } @else {
                <input
                  type="datetime"
                  [value]="segment.time[0]"
                  #departureDate
                  (input)="onDepartureDateInput(segmentIndex, departureDate.value)" />
              }

              <mat-icon
                class="icon"
                color="primary"
                (click)="toggleEditMode(segmentIndex, 'departure')">
                {{ edit.departure ? 'save' : 'edit' }}
              </mat-icon>
            </div>
            <div class="date-and-icon">
              Arrival:

              @if (!edit.arrival) {
                {{ segment.time[1] | date: 'yyyy-MM-dd hh-mm a' }}
              } @else {
                <input
                  type="datetime"
                  [value]="segment.time[1]"
                  #arrivalDate
                  (input)="onArrivalDateInput(segmentIndex, arrivalDate.value)" />
              }

              <mat-icon
                class="icon"
                color="primary"
                (click)="toggleEditMode(segmentIndex, 'arrival')">
                {{ edit.arrival ? 'save' : 'edit' }}
              </mat-icon>
            </div>
          </div>

          <div class="prices">
            <div class="price-and-icon">
              <span>Price</span>
              <mat-icon class="icon" color="primary" (click)="toggleEditMode($index, 'price')">
                {{ edit.price ? 'save' : 'edit' }}
              </mat-icon>
            </div>
            @for (price of prices()[segmentIndex]; track $index; let priceIndex = $index) {
              <div>
                {{ price.type }} -
                @if (!edit.price) {
                  ${{ price.value }}
                } @else {
                  <input
                    type="text"
                    [value]="price.value"
                    #priceInput
                    (input)="
                      onPriceInput(segmentIndex, priceIndex, price.type, priceInput.value)
                    " />
                }
              </div>
            }
          </div>
        </div>
      }
    </div>
  </div>
</div>
