$primaryBackgroundColor: #F2F2F2;
$primaryLightTextColor: #F2F2F2;

$availableSeatColor: #213786;
$reservedSeatColor: #d4d5d6;
$selectedSeatColor: #f09a27;

$cancelButtonColor: #fad099;

$lightGrey: #afafaf;
$white: #ffffff;