$primaryBackgroundColor: #f2f2f2;
$primaryLightTextColor: #f2f2f2;

$availableSeatColor: #213786;
$reservedSeatColor: #d4d5d6;
$selectedSeatColor: #f09a27;

$cancelButtonColor: #fad099;

$lightGrey: #afafaf;
$white: #ffffff;