<form [formGroup]="userInformationForm">
  @if (loading()) {
    <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
  } @else {
    <div class="control">
      <div class="label">Name</div>
      <div class="input-and-buton">
        @if (!editMode().name) {
          <div>{{ userInformationForm.value.name }}</div>
        } @else {
          <div>
            <mat-form-field appearance="outline" subscriptSizing="dynamic">
              <input type="text" matInput formControlName="name" />
            </mat-form-field>
          </div>
        }
        <button mat-mini-fab (click)="editMode().name ? onSubmit() : toggleEditMode('name')">
          <mat-icon>{{ editMode().name ? 'save' : 'edit' }}</mat-icon>
        </button>
      </div>
    </div>
    <div class="control">
      <div class="label">Email</div>
      <div class="input-and-buton">
        @if (!editMode().email) {
          <div>{{ userInformationForm.value.email }}</div>
        } @else {
          <div>
            <mat-form-field appearance="outline" subscriptSizing="dynamic">
              <input type="email" matInput formControlName="email" />
            </mat-form-field>
          </div>
        }
        <button mat-mini-fab (click)="editMode().email ? onSubmit() : toggleEditMode('email')">
          <mat-icon>{{ editMode().email ? 'save' : 'edit' }}</mat-icon>
        </button>
      </div>
    </div>
  }
</form>

<button mat-flat-button (click)="openDialog()">Change Password</button>
