@import '@shared/styles/variables.scss';

.layout {
  display: grid;
  gap: 30px;
  width: 450px;
  margin: 40px auto;
  padding: 20px;
  background-color: $primaryBackgroundColor;
  border-radius: 12px;

  .title {
    text-align: center;
    font-weight: 900;
  }
}

.role-and-button {
  justify-self: end;
  text-align: right;
}

.role {
  text-transform: capitalize;
  padding-right: 10px;
}

.btn {
  border-radius: 4px;
}

.btn-logout {
  justify-self: start;
}

.form {
  display: grid;
  gap: 10px;
}

.spinner {
  justify-self: center;
}

.label {
  font-weight: bold;
}

.input-and-buton {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  align-items: center;
}

.full-width,
.ng-star-inserted {
  width: 100%;
}
