<mat-nav-list class="nav-list" role="navigation">
  @for (item of navItems; track item.label) {
    @if (item.isShow) {
      <a
        class="nav-item"
        mat-list-item
        [routerLink]="item.link"
        [routerLinkActiveOptions]="{ exact: item.exact ?? false }"
        routerLinkActive
        #rla="routerLinkActive"
        [activated]="rla.isActive"
        role="link">
        {{ item.label }}
      </a>
    }
  }

  <div class="nav-auth">
    @for (item of authItems; track item.label) {
      @if (item.isShow) {
        <a
          class="nav-item"
          mat-list-item
          [routerLink]="item.link"
          routerLinkActive
          #rla="routerLinkActive"
          [activated]="rla.isActive"
          role="link">
          {{ item.label }}
        </a>
      }
    }
  </div>
</mat-nav-list>
