:host {
  flex-grow: 1;
}

.nav {
  &-list {
    display: flex;
    align-items: center;
    gap: 1rem;

    @media (max-width: 768px) {
      gap: 0;
    }
  }

  &-item {
    width: fit-content;
    border-radius: 0.5rem !important;

    @media (max-width: 768px) {
      padding: 0 0.5rem;
    }
  }

  &-auth {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 0.5rem;

    @media (max-width: 768px) {
      gap: 0;
    }
  }
}
