<div class="dialog-header">
  <div mat-dialog-title>Change password</div>
  <mat-dialog-actions>
    <button mat-mini-fab mat-dialog-close>
      <mat-icon>close</mat-icon>
    </button>
  </mat-dialog-actions>
</div>
<mat-dialog-content>
  <form [formGroup]="passwordForm" (ngSubmit)="onSubmit()">
    <div class="label">New password</div>
    <mat-form-field class="full-width" appearance="outline">
      <input type="text" matInput formControlName="password" />
      @if (emptyPassword) {
        <mat-error>required</mat-error>
      }
      @if (shortPassword) {
        <mat-error>at least 8 characters</mat-error>
      }
    </mat-form-field>
    <mat-dialog-actions>
      <button
        [disabled]="emptyPassword || shortPassword"
        type="submit"
        class="btn"
        mat-flat-button
        mat-dialog-close>
        Save
      </button>
    </mat-dialog-actions>
  </form>
</mat-dialog-content>
