@import "@shared/styles/variables.scss";

:host {
  .available {
    background-color: $availableSeatColor;
  }

  .selected {
    background-color: $selectedSeatColor;
  }

  .reserved {
    background-color: $reservedSeatColor;
  }
}
