@import '@shared/styles/variables.scss';

$borderDistance: 0.25rem;
$borderRadius: 7px;
$borderOpacity: .5;

:host {
  --seatSize: 2rem;
  
  @media (max-width: 576px) {
    --seatSize: 1.7rem;

    .seat {
      font-size: 0.9rem;
      margin: 2px;
    }
  }
  
  .seat {
    position: relative;
    width: var(--seatSize);
    height: var(--seatSize);
    margin: 10px;
    padding: 0;
    border: 0;
    border-radius: 5px;
    font-size: 1.1rem;
    
    &.available, &.selected { 
      color: $primaryLightTextColor;
      cursor: pointer;
    }
    
    &::before {
      content: '';
      position: absolute;
      border: 3px solid;
    }
    
    &.right::before,
    &.left::before {
      top: -$borderDistance;
      bottom: -$borderDistance;
      width: calc(var(--seatSize) * 0.5 + #{$borderDistance});
    }
    
    &.top::before,
    &.bottom::before {
      left: -$borderDistance;
      right: -$borderDistance;
      height: calc(var(--seatSize) * 0.5 + #{$borderDistance});
    }
    
    &.left:before {
      right: -$borderDistance;
      border-left: 0;
      border-radius: 0 $borderRadius $borderRadius 0;
    }
    
    &.right::before {
      left: -$borderDistance;
      border-right: 0;
      border-radius: $borderRadius 0 0 $borderRadius;
    }
    
    &.top::before {
      top: -$borderDistance;
      border-bottom: 0;
      border-radius: $borderRadius $borderRadius 0 0;
    }
    
    &.bottom::before {
      bottom: -$borderDistance;
      border-top: 0;
      border-radius: 0 0 $borderRadius $borderRadius;
    }
  }

  .available {
    background-color: $availableSeatColor;
    &::before {
      border-color: rgba($availableSeatColor, $borderOpacity);
    }
  }
  
  .reserved {
    background-color: $reservedSeatColor;
    &::before {
      border-color: rgba($reservedSeatColor, $borderOpacity);
    }
  }
  
  .selected {
    background-color: $selectedSeatColor;
    &::before {
      border-color: rgba($selectedSeatColor, $borderOpacity);
    }
  }
}
