@import '@shared/styles/variables.scss';

:host {
  button {
    min-width: 40px;
    min-height: 40px;
  }

  .available {
    background-color: $availableSeatColor;
  }

  .selected {
    background-color: $selectedSeatColor;
  }

  .reserved {
    background-color: $reservedSeatColor;
  }
}
