<div class="card">
  <h5 class="title">Ride {{ rideId() }}</h5>
  <div class="content">
    <div class="stations">
      @for (station of stations(); track $index) {
        <div class="station">{{ station }}</div>
      }
    </div>
    <div class="dates-and-prices">
      @for (segment of segments(); track $index; let segmentIndex = $index) {
        @let edit = editMode()[$index]();

        <div class="row">
          <div class="dates">
            <div class="date-and-icon">
              <div>Departure:</div>

              <div>
                @if (!edit.departure) {
                  {{ segment.time.departure.date }}
                  {{
                    segment.time.departure.date +
                      "T" +
                      segment.time.departure.time | date: "hh:mm a"
                  }}
                } @else {
                  <input
                    type="date"
                    [value]="segment.time.departure.date"
                    #departureDate
                    (input)="
                      onDepartureDateInput(segmentIndex, departureDate.value)
                    "
                  />
                  <input
                    type="time"
                    [value]="segment.time.departure.time"
                    #departureTime
                    (input)="
                      onDepartureTimeInput(segmentIndex, departureTime.value)
                    "
                  />
                }
              </div>

              <mat-icon
                class="icon"
                color="primary"
                (click)="
                  edit.departure
                    ? onSave()
                    : toggleEditMode(segmentIndex, 'departure')
                "
              >
                {{ edit.departure ? "save" : "edit" }}
              </mat-icon>
            </div>
            <div class="date-and-icon">
              <div>Arrival:</div>

              <div>
                @if (!edit.arrival) {
                  {{ segment.time.arrival.date }}
                  {{
                    segment.time.arrival.date + "T" + segment.time.arrival.time
                      | date: "hh:mm a"
                  }}
                } @else {
                  <input
                    type="date"
                    [value]="segment.time.arrival.date"
                    #arrivalDate
                    (input)="
                      onArrivalDateInput(segmentIndex, arrivalDate.value)
                    "
                  />
                  <input
                    type="time"
                    [value]="segment.time.arrival.time"
                    #arrivalTime
                    (input)="
                      onArrivalTimeInput(segmentIndex, arrivalTime.value)
                    "
                  />
                }
              </div>

              <mat-icon
                class="icon"
                color="primary"
                (click)="
                  edit.arrival
                    ? onSave()
                    : toggleEditMode(segmentIndex, 'arrival')
                "
              >
                {{ edit.arrival ? "save" : "edit" }}
              </mat-icon>
            </div>
          </div>

          <div class="prices">
            <div class="price-and-icon">
              <span>Price</span>
              <mat-icon
                class="icon"
                color="primary"
                (click)="
                  edit.price ? onSave() : toggleEditMode($index, 'price')
                "
              >
                {{ edit.price ? "save" : "edit" }}
              </mat-icon>
            </div>
            @for (
              price of prices()[segmentIndex];
              track $index;
              let priceIndex = $index
            ) {
              <div class="price">
                <div class="price-type">{{ price.type }}</div>
                <div class="price-value">
                  @if (!edit.price) {
                    ${{ price.value }}
                  } @else {
                    <input
                      type="text"
                      [value]="price.value"
                      #priceInput
                      (input)="
                        onPriceInput(
                          segmentIndex,
                          priceIndex,
                          price.type,
                          priceInput.value
                        )
                      "
                    />
                  }
                </div>
              </div>
            }
          </div>
        </div>
      }
    </div>
  </div>
</div>
