name: ESLint

on: 
  pull_request: 
    types: [opened, synchronize] 
    branches: 
      - main

jobs: 
  eslint: 
    runs-on: ubuntu-latest 
    steps: 
      - name: Checkout code 
        uses: actions/checkout@v3 
        with: 
          ref: ${{ github.event.pull_request.head.sha }} 

      - name: Setup Node.js 
        uses: actions/setup-node@v3 
        with: 
          node-version: '18.19.1' 

      - name: Restore cached dependencies 
        id: cache-restore 
        uses: actions/cache@v3 
        with: 
          path: ./src/node_modules 
          key: npm-${{ hashFiles('./src/package-lock.json') }} 

      - name: Install dependencies 
        if: steps.cache-restore.outputs.cache-hit != 'true' 
        run: | 
          cd src 
          npm ci --ignore-scripts 

      - name: Lint 
        run: | 
          cd src 
          npm run lint
